<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreatech.byeongcheonairlineapi.mapper.FlightMapper">
    <select id="findByCondition" parameterType="com.koreatech.byeongcheonairlineapi.dto.FlightDto" resultMap="findAll">
        SELECT f.id flightId, d.name departure, a.name arrival, s.*, p.name planeName, f.price
               f.departureTime, f.duration, date_add(f.departureTime, INTERVAL f.duration HOUR) AS arrivalTime
        FROM flight f, location d, location a, plane p, seat s
        WHERE f.planeId = p.id
          AND f.departureId = d.id
          AND f.arrivalId = a.id
          AND p.id = s.planeId
          AND d.name = #{departure} AND a.name = #{arrival} AND DATE(#{departureDate}) = DATE(f.departureTime);
    </select>
    <resultMap id="findAll" type="com.koreatech.byeongcheonairlineapi.dto.FlightDto" autoMapping="true">
            <id property="flightId" column="flightId"/>
<!--        <result property="departureTime" column="departureTime"/>-->
<!--        <result property="duration" column="duration"/>-->
<!--        <result property="arrivalTime" column="arrivalTime"/>-->
<!--        <result property="departure" column="departure"/>-->
<!--        <result property="planeName" column="planeName"/>-->
        <collection property="seats" ofType="com.koreatech.byeongcheonairlineapi.dto.domain.Seat" autoMapping="true">
            <id property="id" column="id"/>
<!--            <result property="seatClass" column="seatClass"/>-->
<!--            <result property="planeId" column="planeId"/>-->
        </collection>
    </resultMap>
</mapper>