a { display: inline-block; text-decoration: none; }
a:link { text-decoration:none; color: #222222; }
a:hover { text-decoration:none; color: #222222; }
a:visited { text-decoration:none; color: #222222; }
a:active { text-decoration:none; color: #222222; }

body {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.res-button {
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.top-header {
    width: 1000px;
    margin: 0 auto;
}
.my-header {
    border-bottom: 1px solid gray;
}